{{- define "base-RKE2ControlPlaneSpec" }}

registrationMethod: address
registrationAddress: {{ .Values.cluster_external_ip }}
agentConfig:
{{- if .Values.cis_profile }}
  cisProfile: {{ .Values.cis_profile }}
{{- end }}
  additionalUserData:
    config: |{{ mergeOverwrite (dict) .Values.rke2.additionalUserData.config .Values.control_plane.rke2.additionalUserData.config | toYaml | nindent 6 }}
    strict: {{ pluck "strict" .Values.rke2.additionalUserData .Values.control_plane.rke2.additionalUserData | last | default false | toYaml }}
  nodeLabels:
    {{ range $node_label_key, $node_label_value := mergeOverwrite (deepCopy .Values.rke2.nodeLabels) (.Values.control_plane.rke2.nodeLabel | default dict) }}
    - {{ printf "%s=%s" $node_label_key $node_label_value }}
    {{ end }}

    {{/* creating node labels with b64enc values, which would mutate to a node annotation through Kyverno ClusterPolicy */}}
    {{ range $node_label_key, $node_label_value := mergeOverwrite (deepCopy .Values.rke2.node_annotations) (.Values.control_plane.rke2.node_annotations | default dict) }}
      {{- $node_label_value_b64e_syntax_compliant := $node_label_value | b64enc | replace "=" "-x" }}

      {{/*********** handle the "Valid label value must be 63 characters or less" K8s requirement
      (https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set) */}}
      {{- if gt (len $node_label_value_b64e_syntax_compliant) 63 }}

        {{/*********** Math behind it in python
        >>> b64enc="WyB7ICJwYXRoIjoiL3Zhci9saWIvbG9uZ2hvcm4iLCAiYWxsb3dTY2hlZHVsaW5nIjp0cnVlfSwgeyAibmFtZSI6ImZhc3Qtc3NkLWRpc2siLCAicGF0aCI6Ii9tbnQvZXh0cmEiLCAiYWxsb3dTY2hlZHVsaW5nIjpmYWxzZSwgInN0b3JhZ2VSZXNlcnZlZCI6MTA0ODU3NjAsICJ0YWdzIjpbICJzc2QiLCAiZmFzdCIgXSB9XQ=="
        >>> b64enc[0:63]
        'WyB7ICJwYXRoIjoiL3Zhci9saWIvbG9uZ2hvcm4iLCAiYWxsb3dTY2hlZHVsaW5'
        >>> b64enc[0:63][-63:]
        'WyB7ICJwYXRoIjoiL3Zhci9saWIvbG9uZ2hvcm4iLCAiYWxsb3dTY2hlZHVsaW5'
        >>>
        >>> b64enc[0:126]
        'WyB7ICJwYXRoIjoiL3Zhci9saWIvbG9uZ2hvcm4iLCAiYWxsb3dTY2hlZHVsaW5nIjp0cnVlfSwgeyAibmFtZSI6ImZhc3Qtc3NkLWRpc2siLCAicGF0aCI6Ii9tbn'
        >>> b64enc[0:126][-63:]
        'nIjp0cnVlfSwgeyAibmFtZSI6ImZhc3Qtc3NkLWRpc2siLCAicGF0aCI6Ii9tbn'
        >>>
        >>> b64enc[0:189]
        'WyB7ICJwYXRoIjoiL3Zhci9saWIvbG9uZ2hvcm4iLCAiYWxsb3dTY2hlZHVsaW5nIjp0cnVlfSwgeyAibmFtZSI6ImZhc3Qtc3NkLWRpc2siLCAicGF0aCI6Ii9tbnQvZXh0cmEiLCAiYWxsb3dTY2hlZHVsaW5nIjpmYWxzZSwgInN0b3JhZ2VSZXNlc'
        >>> b64enc[0:189][-63:]
        'QvZXh0cmEiLCAiYWxsb3dTY2hlZHVsaW5nIjpmYWxzZSwgInN0b3JhZ2VSZXNlc'
        >>>
        >>> b64enc[0:252]
        'WyB7ICJwYXRoIjoiL3Zhci9saWIvbG9uZ2hvcm4iLCAiYWxsb3dTY2hlZHVsaW5nIjp0cnVlfSwgeyAibmFtZSI6ImZhc3Qtc3NkLWRpc2siLCAicGF0aCI6Ii9tbnQvZXh0cmEiLCAiYWxsb3dTY2hlZHVsaW5nIjpmYWxzZSwgInN0b3JhZ2VSZXNlcnZlZCI6MTA0ODU3NjAsICJ0YWdzIjpbICJzc2QiLCAiZmFzdCIgXSB9XQ=='
        >>> len(b64enc) - 189
        59
        >>> b64enc[0:252][-59:]
        'nZlZCI6MTA0ODU3NjAsICJ0YWdzIjpbICJzc2QiLCAiZmFzdCIgXSB9XQ=='
        >>>          */}}

        {{- $node_label_value_b64e_parts := div (len $node_label_value_b64e_syntax_compliant) 63 | int }}
        {{- range $node_label_value_b64e_part_index, $e := until (add 1 $node_label_value_b64e_parts | int)  }}
          {{- $node_label_value_b64e_part_index := $node_label_value_b64e_part_index | int }}
          {{/* if we are at the last index, the number of chars we need to extract with the `trunc <negative nr>`
          from the total b64enc output can be lower than 63, so we calculate with: length of b64enc output - (last index) x 63 */}}
          {{- if eq $node_label_value_b64e_part_index $node_label_value_b64e_parts }}
            {{- $node_label_value_b64e_last_part_len := sub (len $node_label_value_b64e_syntax_compliant) (mul $node_label_value_b64e_part_index 63 | int) }}
    - {{ printf "%s=%s" (cat $node_label_key $node_label_value_b64e_part_index | nospace) ($node_label_value_b64e_syntax_compliant | trunc (mul (add 1 $node_label_value_b64e_part_index | int) 63 | int) | trunc (mul $node_label_value_b64e_last_part_len -1 | int)) }}
          {{- else }}
    - {{ printf "%s=%s" (cat $node_label_key $node_label_value_b64e_part_index | nospace) ($node_label_value_b64e_syntax_compliant | trunc (mul (add 1 $node_label_value_b64e_part_index | int) 63 | int) | trunc -63) }}
          {{- end }}
        {{- end }}
      {{- else }}
    - {{ printf "%s=%s" $node_label_key $node_label_value_b64e_syntax_compliant }}
      {{- end }}
    {{ end }}
  version: {{ .Values.k8s_version }}
  airGapped: {{ .Values.air_gapped }}
  nodeTaints: []
  kubelet:
    extraArgs:
      {{ range $kubelet_flag_key, $kubelet_flag_value := mergeOverwrite (deepCopy .Values.kubelet_extra_args) (deepCopy .Values.control_plane.kubelet_extra_args) }}
      - {{ printf "%s=%s" $kubelet_flag_key $kubelet_flag_value | quote }}
      {{ end }}
  {{- if .Values.ntp }}
  ntp:
{{ .Values.ntp | toYaml | indent 4 }} {{/* this line needs to have no leading spaces to ensure correct rendering */}}
  {{- end }}
serverConfig:
  cni: {{ .Values.default_cni }}
preRKE2Commands:
  - echo "fs.inotify.max_user_watches = 524288" >> /etc/sysctl.conf
  - echo "fs.inotify.max_user_instances = 512" >> /etc/sysctl.conf
  - sysctl --system
  {{- if and (not (eq .Values.capi_providers.infra_provider "capd")) .Values.dns_resolver }}
  - systemctl restart systemd-resolved
  {{- end }}
  {{- if .Values.proxies.http_proxy }}
  - export HTTP_PROXY={{ .Values.proxies.http_proxy }}
  - export HTTPS_PROXY={{ .Values.proxies.https_proxy }}
  - export NO_PROXY={{ .Values.proxies.no_proxy }}
  {{- end }}
  - echo 'alias ctr="/var/lib/rancher/rke2/bin/ctr --namespace k8s.io --address /run/k3s/containerd/containerd.sock"' >> /root/.bashrc
  - echo 'alias crictl="/var/lib/rancher/rke2/bin/crictl --runtime-endpoint /run/k3s/containerd/containerd.sock"' >> /root/.bashrc
  - echo 'alias kubectl="KUBECONFIG=/etc/rancher/rke2/rke2.yaml /var/lib/rancher/rke2/bin/kubectl"' >> /root/.bashrc
files:
{{ $rke2cpfiles := list }}
{{- if .Values.cis_profile }}
    {{- if eq .Values.cis_profile "cis-1.6" }}
        {{ $rke2cpfiles = include "kubernetes_rke2_metallb_psp" . | append $rke2cpfiles }}
        {{ $rke2cpfiles = include "kubernetes_rke2_tigera_psp" . | append $rke2cpfiles  }}
    {{- end }}
{{- end }}
{{- if .Values.dns_resolver }}
    {{- $rke2cpfiles = include "resolv_conf" . | append $rke2cpfiles -}}
{{- end }}
{{- if (.Values.registry_mirrors | dig "hosts_config" "") }}
    {{- $rke2cpfiles = include "registry_mirrors" . | append $rke2cpfiles  -}}
{{- end }}
{{- if .Values.proxies.http_proxy }}
    {{- $rke2cpfiles = include "rke2_server_containerd_proxy" . | append $rke2cpfiles -}}
    {{- $rke2cpfiles = include "rke2_agent_containerd_proxy" . | append $rke2cpfiles -}}
{{- end }}
{{- if or (eq .Values.capi_providers.infra_provider "capo") (eq .Values.capi_providers.infra_provider "capv") (eq .Values.capi_providers.infra_provider "capm3") }}
    {{- $rke2cpfiles = include "kubernetes_rke2_ingress" . | append $rke2cpfiles  -}}
    {{- $rke2cpfiles = include "kubernetes_rke2_metallb" . | append $rke2cpfiles  -}}
    {{- $rke2cpfiles = include "kubernetes_rke2_metallb_l3" . | append $rke2cpfiles  -}}
    {{- $rke2cpfiles = include "kubernetes_rke2_vip" . | append $rke2cpfiles  -}}
    {{- $rke2cpfiles = include "rke2_config_toml" . | append $rke2cpfiles  -}}
{{- if (eq .Values.default_cni "calico") }}
    {{- $rke2cpfiles = include "rke2_calico_helm_chart_config" . | append $rke2cpfiles -}}
{{- end }}
    {{- $rke2cpfiles = include "rke2_coredns_helm_chart_config" . | append $rke2cpfiles -}}
{{- end }}
{{- $additional_files := mergeOverwrite (deepCopy .Values.additional_files) (deepCopy .Values.control_plane.additional_files) }}
{{- if $additional_files }}
    {{- $rke2cpfiles = tuple . $additional_files | include "additional_files" | append $rke2cpfiles -}}
{{- end }}
{{- if $rke2cpfiles -}}
{{- range $rke2cpfiles }}
{{ . | indent 2 }} {{/* this line needs to have no leading spaces to ensure correct rendering */}}
{{- end }}
{{- else }}
    []
{{- end }}
{{- end }}
